@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&family=Outfit:wght@300;400;500;700&family=Poppins:wght@100;400;700&family=Recursive:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* max-width: 1440px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /*center page*/
}

.main-hero {
  width: 1440px;
  min-height: 50vh;
  background-image: url('./images/mainBG.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 140px;
}

nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(82, 55, 40, 0.7);
  border-radius: 15px;
  padding: 15px 60px;
}

nav ul li {
  align-items: center;
  justify-content: center;
  display: inline;
  list-style: none;
  font-family: 'Inter', sans-serif;
  margin: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

li a:hover {
  background-color: #fff;
  color: #6f4436;
  padding: 15px 20px;
  border-radius: 10px;
}

h1 {
  font-family: 'Inika', sans-serif;
  color: rgba(82, 55, 40);
  margin-left: 40px;
  font-size: 69px;
  margin-top: 100px;
  font-weight: 400;
  line-height: 82px;
}

.p1 {
  margin-top: 30px;
  margin-left: 40px;
  font-size: large;
  color: #523728;
}

.btn-container {
  display: flex;
  margin-left: 40px;
  margin-top: 70px;
}

.sign-up {
  background-color: transparent;
  color: #523728;
  border-radius: 50px;
  margin-right: 100px;
  font-size: 1em;
  padding: 20px 35px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition-duration: 0.4s;
  z-index: 1;
}
.sign-up:hover {
  background-color: #523728;
  color: #fff;
}

.get-started-btn {
  background-color: rgba(82, 55, 40, 0.8);
  color: #fff;
  padding: 17px 30px;
  margin-right: 20px;
  border-radius: 50px;
  font-size: 1em;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 10px 10px 10px #523728;
}
.get-started-btn:hover {
  background-color: transparent;
  color: #523728;
}

.watch-btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 17px 40px;
  border-radius: 50px;
  color: #523728;
  border: 1px solid #523728;
  font-size: 1em;
  cursor: pointer;
  background-color: transparent;
  transition-duration: 0.4s;
}

.watch-btn:hover {
  background-color: #523728;
  color: #fff;
}

.hero-lr {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left {
  width: 600px;
  padding-bottom: 50px;
}
.hero-right {
  width: auto;
}

.icing {
  width: 773px;
  right: 743px;
  top: 19px;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 587px;
  /* max-width: 1440px; */
  background-color: #fff8e1;
}

.about-l {
  /* width: 600px; */
  margin-bottom: 50px;
  margin-left: 40px;
}

.about-r {
  width: auto;
  margin-right: 200px;
}

.about-img {
  width: 480px;
  height: 400px;
}

.we-love {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Inika', sans-serif;
  color: #220404;
  line-height: 78.18px;
}

.p-1 {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.p-2 {
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
}

.read {
  margin-top: 20px;
  padding: 15px 40px;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #523728;
  font-size: 1em;
  cursor: pointer;
  background-color: #523728;
  transition-duration: 0.4s;
  box-shadow: 10px 10px 10px #523728;
}
.read:hover {
  background-color: #fff8e1;
  color: #523728;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 70vh;
  background-color: rgba(82, 55, 40);
}

.menu-header > h2 {
  color: #fff8e1;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Inika', sans-serif;
  font-weight: lighter;
  font-size: 64px;
}

.product-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product-cards .card {
  width: 355px;
  height: 351px;
  border: 1px solid;
  border-radius: 15px;
  margin-right: 40px;
  background-color: #fff8e1;
  box-shadow: 0 5px 5px;
}

.product-cards .card img {
  max-width: 100%;
  margin-left: 70px;
  height: 50%;
  display: flex;
  justify-content: center;
}

.product-cards .card h4 {
  font-family: 'Inika', sans-serif;
  font-weight: 700px;
  font-size: 25px;
  line-height: 32.57px;
  margin-top: 30px;
  margin-left: 15px;
}

.product-cards .card p {
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  margin-top: 5px;
  margin-left: 15px;
  font-size: small;
}

.product-cards .money-rate {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currency {
  color: #53a623;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 25.41px;
}

.rating {
  color: #523728;
  margin-right: 30px;
  /* width: 15.9px; */
  height: 14.52px;
}

.view-more {
  margin-top: 30px;
  color: #fff8e1;
  text-align: right;
  margin-top: 30px;
  margin-right: 140px;
}

.view-more p a {
  text-decoration: none;
  color: #fff;
}
.view-more p a:hover {
  color: black;
}
.blog-section {
  background-color: #fff8e1;
  width: 1440px;
  /* min-height: 50vh; */
  text-align: center;
}

.blog-section h2 {
  font-family: 'Inika', sans-serif;
  font-weight: 400;
  line-height: 83.39px;
  font-size: 64px;
  margin-top: 50px;
  color: #734b33;
}

.blog-section h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #734b33;
}

.blog-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
.blog-cards img {
  width: 250px;
  height: 250px;
  border-radius: 16px;
  border-top: 100px;
}

.blog-cards .blog-card {
  display: flex;
  flex-wrap: wrap;
  width: 347.56px;
  height: 551px;
  border: 1px solid;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #fff8e1;
  box-shadow: 0 5px 5px;
}

.blog-card .p-one {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.68px;
  color: #bb6939;
}

.blog-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #734b33;
}

.blog-card p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 18.75px;
  text-align: left;
  margin-left: 30px;
}

.blog-card a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500px;
  font-size: 15.5px;
  line-height: 23.25px;
  color: #734b33;
  text-decoration: none;
}

.more-blog {
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 15.5px;
  line-height: 23.25px;
}
