@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&family=Outfit:wght@300;400;500;700&family=Poppins:wght@100;400;700&family=Recursive:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* max-width: 1440px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /*center page*/
}

.main-hero {
  width: 1440px;
  min-height: 50vh;
  background-image: url('./images/mainBG.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 140px;
}

nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(82, 55, 40, 0.7);
  border-radius: 15px;
  padding: 15px 60px;
}

nav ul li {
  align-items: center;
  justify-content: center;
  display: inline;
  list-style: none;
  font-family: 'Inter', sans-serif;
  margin: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

li a:hover {
  background-color: #fff;
  color: #6f4436;
  padding: 15px 20px;
  border-radius: 10px;
}

h1 {
  font-family: 'Inika', sans-serif;
  color: rgba(82, 55, 40);
  margin-left: 40px;
  font-size: 69px;
  margin-top: 100px;
  font-weight: 400;
  line-height: 82px;
}

.p1 {
  margin-top: 30px;
  margin-left: 40px;
  font-size: large;
  color: #523728;
}

.btn-container {
  display: flex;
  margin-left: 40px;
  margin-top: 70px;
}

.sign-up {
  background-color: transparent;
  color: #523728;
  border-radius: 50px;
  margin-right: 100px;
  font-size: 1em;
  padding: 20px 35px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition-duration: 0.4s;
  z-index: 1;
}
.sign-up:hover {
  background-color: #523728;
  color: #fff;
}

.get-started-btn {
  background-color: rgba(82, 55, 40, 0.8);
  color: #fff;
  padding: 17px 30px;
  margin-right: 20px;
  border-radius: 50px;
  font-size: 1em;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 10px 10px 10px #523728;
}
.get-started-btn:hover {
  background-color: transparent;
  color: #523728;
}

.watch-btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 17px 40px;
  border-radius: 50px;
  color: #523728;
  border: 1px solid #523728;
  font-size: 1em;
  cursor: pointer;
  background-color: transparent;
  transition-duration: 0.4s;
}

.watch-btn:hover {
  background-color: #523728;
  color: #fff;
}

.hero-lr {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left {
  width: 600px;
  padding-bottom: 50px;
}
.hero-right {
  width: auto;
}

.icing {
  width: 773px;
  right: 743px;
  top: 19px;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 587px;
  /* max-width: 1440px; */
  background-color: #fff8e1;
}

.about-l {
  /* width: 600px; */
  margin-bottom: 50px;
  margin-left: 40px;
}

.about-r {
  width: auto;
  margin-right: 200px;
}

.about-img {
  width: 480px;
  height: 400px;
}

.we-love {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Inika', sans-serif;
  color: #220404;
  line-height: 78.18px;
}

.p-1 {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.p-2 {
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
}

.read {
  margin-top: 20px;
  padding: 15px 40px;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #523728;
  font-size: 1em;
  cursor: pointer;
  background-color: #523728;
  transition-duration: 0.4s;
  box-shadow: 10px 10px 10px #523728;
}
.read:hover {
  background-color: #fff8e1;
  color: #523728;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 70vh;
  background-color: rgba(82, 55, 40);
}

.menu-header > h2 {
  color: #fff8e1;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Inika', sans-serif;
  font-weight: lighter;
  font-size: 64px;
}

.menu-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-cards .card {
  width: 355px;
  height: 351px;
  border: 1px solid;
  border-radius: 15px;
  margin-right: 40px;
  background-color: #fff8e1;
  box-shadow: 0 5px 5px;
}

.menu-cards .card img {
  max-width: 100%;
  margin-left: 70px;
  height: 50%;
  display: flex;
  justify-content: center;
}

.menu-cards .card h4 {
  font-family: 'Inika', sans-serif;
  font-weight: 700px;
  font-size: 25px;
  line-height: 32.57px;
  margin-top: 30px;
  margin-left: 15px;
}

.menu-cards .card p {
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  margin-top: 5px;
  margin-left: 15px;
  font-size: small;
}

.menu-cards .money-rate {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currency {
  color: #53a623;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 25.41px;
}

.rating {
  color: #523728;
  margin-right: 30px;
  /* width: 15.9px; */
  height: 14.52px;
}

.view-more {
  margin-top: 30px;
  color: #fff8e1;
  text-align: right;
  margin-top: 30px;
  margin-right: 140px;
}

.view-more p a {
  text-decoration: none;
  color: #fff;
}
.view-more p a:hover {
  color: black;
  transition-duration: 0.4s;
}

.blog-container {
  background-color: #fff8e1;
  width: 1440px;
  min-height: 90vh;
  text-align: center;
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.blog-cards .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  box-shadow: -2px -9px 42px 0px #4d422c61;
  padding: 0px 50px;
  padding-bottom: 20px;
  border-radius: 19px;
}
.headers {
  margin-top: 80px;
}

.headers h2 {
  font-family: 'Inika', sans-serif;
  color: #734b33;
  font-weight: 400;
  font-size: 64px;
  line-height: 83.39px;
}

.headers h3 {
  font-family: 'Roboto', sans-serif;
  color: #734b33;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 50px;
}
.img1-3 {
  width: 250px;
  height: 250px;
}
.card-2 img {
  width: 250px;
  height: 300px;
}
/* .blog-img:nth-child(1),
.blog-img:nth-child(3) {
  width: 250px;
  height: 250px;
} */
.cards img {
  width: 259px;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 20px;
  object-fit: cover;
}

.blog-texts {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.blog-texts .p-uno {
  font-family: 'Outfit', sans-serif;
  color: #bb6939;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.68px;
}

.blog-texts .p-duo {
  font-family: 'Poppins', sans-serif;
  color: #734b33;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.blog-texts .p-trio {
  font-family: 'Poppins';
  color: #704b33;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 18.75px;
}
/* .card-1 .read-more {
  margin-top: 25px;
} */

.read-more {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15.5px;
  line-height: 23.25px;
}

.read-more a {
  text-decoration: none;
  color: #734b33;
}

.read-more a:hover {
  color: #fff;
  background-color: #734b33;
  transition: 0.4s;
}

.contact-section {
  width: 1440px;
  background-color: #6a4028f0;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;

  gap: 20px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-left h2 {
  font-family: 'Inika', sans-serif;
  color: #fff8e1;
  font-weight: 400;
  font-size: 64px;
  line-height: 83.39px;
  margin-bottom: 20px;
}
.icons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  border-radius: 50%;
  color: white;
}
.contact-left h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #fff8e1;
  text-align: center;
}
.contact-left p {
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
  color: #fff8e1;
}

.contact .contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input {
  padding: 16px 16px;
  border-radius: 26px;
  margin-bottom: 20px;
  width: 70%;
  margin-left: 12px;
  font-size: 20px;
  background-color: #fff8e1;
}
textarea {
  padding: 16px 16px;
  border-radius: 10px;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  border-radius: 26px;
  background-color: #fff8e1;
  margin-bottom: 25px;
}

input:focus-within {
  outline: none;
  border-radius: 10px;
}

textarea:focus-within {
  outline: none;
  border-radius: 10px;
  /* width: 417px;
  height: 161px; */
}

.contact-us-btn {
  border-radius: 60px;
  /* height: 69px;
  width: 417px; */
  font-size: 22px;
  padding: 10px 18px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  background-color: #fcae36;
}

.contact-us-btn:hover {
  background-color: #6a4028f0;
  color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.4s;
}
